.benefits {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits-list {
    display: flex;
    align-content: space-between;
}



.benefits-item {
    width: 270px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.benefits-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: var(--background-color-grey);
    border-radius: 4px;
    margin-bottom: 30px;
}


.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-color-text);
    margin-bottom: 10px;
}

.benefits-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}